* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  overscroll-behavior-x: none;
  scroll-behavior: smooth;
}
