@use "./../utils/mixins" as *;

.hero {
  background-color: #f5f5f5;
  padding: 200px 0 50px;

  &__img {
    width: auto;
    height: 280px;
    display: block;
    margin: 0 auto;

    @include tablet {
      height: 400px;
    }

    @include laptop {
      display: none;
    }
  }

  @include tablet {
    padding: 152px 0;
  }

  @include laptop {
    padding: 152px 0 232px;
    background-image: url("../src/images/bg/bg.webp");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  @include desktop {
    background-size: 50%;
  }
}

.label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
  color: #69b99d;
  padding: 12px 24px;
  background-color: #f8f9fe;
  display: flex;
  justify-content: center;

  @include laptop {
    display: inline-block;
  }
}

.title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 116%;
  letter-spacing: 0em;
  color: #1f2744;
  margin-top: 30px;

  @include tablet {
    margin-top: 50px;
  }

  @include laptop {
    margin-top: 32px;
    font-size: 64px;
    max-width: 605px;
  }
}

.sub-headline {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #73788c;
  margin: 15px 0;

  @include laptop {
    margin: 24px 0 64px;
    font-size: 16px;
    max-width: 502px;
  }
}

.tab {
  position: relative;

  @include laptop {
    position: relative;
    display: flex;
  }

  &__label {
    cursor: pointer;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    color: #a6a6a6;
    max-height: 55px;
    width: 115px;
    background-color: #f5f5f5;
    padding: 12px 32px;
    transition: border 0.3s ease, color 0.3s ease;

    &:hover {
      border: 1px solid rgb(209, 209, 209);
      color: #69b99d;
    }
  }

  &__radio:checked + &__label {
    color: #69b99d;
    background-color: #fefeff;
  }

  @include laptop {
    position: relative;
    display: flex;
  }

  &__content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease, max-height 0.5s ease;

    &.active {
      opacity: 1;
      max-height: 1000px;
      pointer-events: auto;
    }

    @include laptop {
      position: absolute;
      top: 100%;
      left: 0;
      width: auto;
      max-height: none;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease;
      background: #fff;
      padding: 0;
      box-sizing: border-box;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &__select__label {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }

  &__select__wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    @include laptop {
      height: 60px;
      margin: 0;
      justify-content: space-between;
    }
  }

  &__select__label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: #1f2744;
  }

  &__select {
    cursor: pointer;
    border: 0;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: #a6a6a6;

    @include laptop {
      padding: 0;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      background: url(".././public/icons/arrow.svg");
      background-repeat: no-repeat;
      background-position: right 12px center;
      background-size: 16px 9px;

      padding-right: 50px;
    }
  }

  &__option {
    color: black;
  }

  &__button {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    box-shadow: 0 0 65px 0 rgba(105, 185, 157, 0.32);
    background-color: #69b99d;
    border: 0;
    width: 100%;
    padding: 10px 0;
    transition: filter 0.3s ease, background-color 0.3s ease;

    &:hover {
      filter: drop-shadow(0 0 20px rgba(28, 231, 160, 0.3));
      background-color: #2dd198;
    }

    @include laptop {
      padding: 18px 48px;
      width: 153px;
      height: 56px;
    }
  }
}

#tab-btn-1:checked ~ #content-1 {
  display: block;

  @include laptop {
    position: absolute;
    top: 56px;
  }
}

#tab-btn-2:checked ~ #content-2 {
  display: block;

  @include laptop {
    position: absolute;
    top: 56px;
  }
}

.form {
  background-color: #fefeff;
  padding: 20px;

  @include laptop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 32px;
    gap: 40px;
  }
}
